body {
  text-align: center;
  font-family: 'Noto Sans', sans-serif; /* change */
  color: #FFF;
  background-color: #1C1B1F; /* change */
}

h2 {
  font-size: 2.5em; /* change */
  margin: 90px 0px 30px; /* change */
  text-transform: uppercase; /* change */
  font-family: 'Archivo', sans-serif; /* change */
  text-align: left;
  letter-spacing: 1px;
}

p {
  font-size: 1em;
  margin: 25px 0 23px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.search-form {
  max-width: 75%; /* change */
}

input {
  font-size: 1em;
  width: 100%;
  background-color: #2D2F33; /* changed */
  padding: 13px 25px;
  border: none; /* changed */
  border-radius: 41px; /* changed */
  font-family: 'Noto Sans', sans-serif; /* changed */
  outline: none;
}

input, select, textarea { /* changed */
  color: #B8B8B8;
}

.main-nav ul { /* added */
  margin: 5px 0 0 0;
}

.main-nav li {
  margin-bottom: 1em;
}

.main-nav a {
  display: block;
  font-size: 1.1em;
  border-radius: 4px; /* change */
  padding: 3px 10px;
  color: #9A9A9A; /* change */
  border: 2px solid transparent;
  transition: ease 200ms;
}

.main-nav a:hover {
  border: 2px solid #A282FF;
}

.main-nav li a.active { /* added */
  background: #A282FF;
  color: #3B1B9B;
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul li {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 15px;
}

.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
}

.photo-container .not-found {
  width: 100%;
}

#spinner {
  border: 4px solid transparent;
  border-top: 4px solid #FFF;
  border-left: 4px solid #FFF;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 130px auto 0px;
  animation: spin .6s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 767px)  {
  body {
    padding-top: 2em;
  }

  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px)  {
  body {
    padding-top: 4em;
  }

  .container {
    max-width: 1200px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: left;
  }
  
  .main-nav li {
    margin: 10px 5px;
  }
}
